!!! 5
%html
  %head
    %meta{ charset:"utf-8" }
    %meta{ 'http-equiv'=>'X-UA-Compatible', content:'IE=edge;chrome=1' }
    = stylesheet_link_tag 'reset'
    = stylesheet_link_tag 'ideblog'
    = favicon_tag 'images/favicon.png'
    %title IDEclara - la solución para la declaración del IDE
  %body
    .page
      %header
        #navigation
          #izquierda
            %a{id: 'title', href:'/'}
              = 'IDEclara blog'
          #derecha
            #menu
              %ul
                %li= link_to 'Inicio', '/'
                %li Acerca de
                %li= link_to 'Conoce IDEclara', 'http://ideclara.com'
                %li= link_to 'Contacto', 'http://ideclara.com/contacto'
                %li Suscripciones
        #slides
          #text
            %h1
              %span.verde IDE
              clara
            %h3
              Bienvenido a nuestro blog 
            %p#descripcion
              Aquí encontrarás toda clase de información útil referente a la declaración informativa del 
              %b= 'Impuesto a los Depósitos en Efectivo IDE.'
          #image
            = image_tag 'diapo.png'

      #content
        %section#main{ role: 'main' }
          - if is_blog_article?
            = partial "layouts/blog_article"
          - else
            = yield

        %aside
          #search
            %form{method: 'get', action: 'http://www.google.com/search'}
              %input{placeholder: 'Buscar...', name: 'q'} 
              %button{type: 'submit', id:'search'}
                = image_tag '/images/search_btn.png'
              %input{type: 'hidden', name: 'sitesearch', value: 'ideclara.com'} 

          %h3 Artículos recientes
          %ul
            - blog.articles[0...10].each do |article| 
              %li
                %a{href:"#{article.url}"}
                  = article.title
                %span
                  = article.date.strftime("%d/%m/%Y")

          %h3 Por año
          %ul
            - blog.articles.group_by {|a| a.date.year }.each do |year, articles|
              %li
                %a{href:"#{blog_year_path year}"}
                  = year 
                  (#{articles.size})
    %footer
      .credits

        = link_to 'IDEclara', 'http://ideclara.com'
        &reg;
        Es una marca registrada de
        = link_to 'LogicalBricks Solutions SC de RL de CV', 'http://logicalbricks.com'
        &copy; 2012
    .corner
